//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Montserrat";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1145;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	@include flexbox();
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

.mainscreen {

	min-height: 100vh;
	@include flexbox();
	flex-direction: column;
	

	// .mainscreen__img

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

		// .mainscreen__shadow

		&__shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.45;
			background-color: #000000;
		}

	// .mainscreen__content

	&__content {
		position: relative;
		z-index: 2;
		@include flexbox();
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;
	}

	// .mainscreen__title

	&__title {
		font-family: Montserrat;
		font-size: 48px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #ffffff;
		margin: 0px 0px 30px 0px;
	}

	// .mainscreen__text

	&__text {
		font-family: 'Roboto Slab';
		font-size: 20px;
		color: #ffffff;
		margin: 0px 0px 40px 0px;
	}

	// .mainscreen__button

	&__button {
		font-family: Montserrat;
		font-size: 16px;
	}

	@media (max-width:$md3+px){
		&__title {
			font-size: 34px;
		}
	
		&__text {
			font-size: 14px;
			margin: 0px 0px 30px 0px;
		} 

		&__button {
			font-size: 14px;
		}
	}

	@media (max-width:$md4+px){
		&__title {
			font-size: 24px;
			margin: 0px 0px 15px 0px;
		} 

		&__text {
			font-size: 12px;
			margin: 0px 0px 20px 0px;
		} 

		&__button {
			font-size: 14px;
		}
	}
}


//====================================================================================================

.servises {
	padding: 95px 0px;
	// .servises__header

	&__header {
		margin: 0px 0px 70px 0px;
	}

	// .servises__row

	&__row {
		@include flexbox();
		margin: 0px -20px;
	}

	// .servises__item

	&__item {
		flex: 0 1 33.333%;
		padding: 0px 20px;
	}

	@media (max-width:$md3+px){
		padding: 55px 0px;
		&__header {
			margin: 0px 0px 40px 0px;
		} 
		&__row {
			flex-direction: column;
		} 
		&__item {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	@media (max-width:$md4+px){
		padding: 35px 0px;
		&__header {
			margin: 0px 0px 30px 0px;
		} 
	}
}

.header-servises {
	text-align: center;
	// .header-servises__title

	&__title {
		position: relative;
		font-family: Montserrat;
		font-size: 20px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #555555;
		margin: 0px 0px 56px 0px;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: -28px;
			left: 50%;
			width: 50px;
			height: 2px;
			background-color: #555555;
			@include tr(-50%, 0, 0);
		}
	}

	// .header-servises__text

	&__text {
		font-family: 'Roboto Slab';
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		color: #555555;
	}

	@media (max-width:$md4+px){
		&__title {
			font-size: 18px;
			margin: 0px 0px 36px 0px;
			&:after {
				bottom: -18px;
				height: 1px;
			}
		} 
		&__text {
			font-size: 14px;
		}
	}
}

.item-servises {

	// .item-servises__body

	&__body {
		@include flexbox();
		flex-direction: column;
		align-items: center;
	}

	// .item-servises__icon

	&__icon {
		width: 90px;
		height: 90px;
		border: 2px solid #dddddd;
		border-radius: 50%;
		background-color: #c0301c;
		margin: 0px 0px 25px 0px;
		cursor: pointer;
		@include anim(0.5s,0s);
		&--01 {
			background:  url('../../img/icons/servises/01_red.png') center no-repeat;
			&:hover {
				background: #c0301c url('../../img/icons/servises/01.png') center no-repeat;
			}
		}
		&--02 {
			background:  url('../../img/icons/servises/02.png') center no-repeat;
			&:hover {
				background: #c0301c url('../../img/icons/servises/02_white.png') center no-repeat;
			}
		}
		&--03 {
			background:  url('../../img/icons/servises/03.png') center no-repeat;
			&:hover {
				background: #c0301c url('../../img/icons/servises/03_white.png') center no-repeat;
			}
		}
	}

	// .item-servises__title

	&__title {
		font-family: Montserrat;
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #555555;
		margin: 0px 0px 20px 0px;
	}

	// .item-servises__text

	&__text {
		text-align: center;
		font-family: 'Roboto Slab';
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #555555;
	}

	@media (max-width:$md4+px){
		&__icon {
			margin: 0px 0px 15px 0px;
			width: 70px;
			height: 70px;
		}
		 &__title {
			font-size: 12px;
			margin: 0px 0px 10px 0px;
		 } 
		 &__text {
			font-size: 12px;
		 }
	}
}

//====================================================================================================

.about-us {
	background-color: #f8f8f8;
	padding: 95px 0px;
	// .about-us__header

	&__header {
		margin: 0px 0px 65px 0px;
	}

	// .about-us__text

	&__text {
		@include flexbox();
		align-items: center;
		margin: 0px -15px 70px -15px;
		p {
			flex: 0 1 50%;
			font-family: 'Roboto Slab';
			font-size: 14px;
			line-height: 24px;
			font-weight: 400;
			color: #555555;
			padding: 0px 15px;
		}
	}

	// .about-us__slider

	&__slider {}

		// .about-us__item

	&__item {
		text-align: center;
	}

	// .about-us__img

	&__img {
		width: 263px;
		height: 250px;
		margin: 0px 0px 15px 0px;
		position: relative;
	}

	// .about-us__social

	&__social {
		@include flexbox();
		justify-content: center;
		align-items: end;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 0px 0px 30px 0px;
		background-color: rgba(85, 85, 85, 0.5);
		@include anim(0.3s,0s);
		opacity: 0;
		&:hover {
			opacity: 1;
		}
	}

	// .about-us__link

	&__link {
		width: 28px;
		height: 28px;
		margin: 0px 5px;
		@include anim(0.3s,0s);
		&:hover {
			background-color: #c0301c;
		}
		&--01 {
			background:  url('../../img/icons/about-us/social_01.png') center no-repeat;
		}
		&--02 {
			background:  url('../../img/icons/about-us/social_02.png') center no-repeat;
		}
		&--03 {
			background:  url('../../img/icons/about-us/social_03.png') center no-repeat;
		}
		&--04 {
			background:  url('../../img/icons/about-us/social_04.png') center no-repeat;
		}
	}

	// .about-us__name
	
	&__name {
		font-family: Montserrat;
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #555555;
		margin: 0px 0px 5px 0px;
	}
	
	// .about-us__post
	
	&__post {
		font-family: 'Roboto Slab';
		font-size: 13px;
		line-height: 24px;
		font-weight: 400;
		color: #555555;
	}

	@media (max-width:$md3+px){
		padding: 55px 0px; 
		&__header {
			margin: 0px 0px 35px 0px;
		}
		&__text {
			flex-direction: column;
			text-align: center;
			margin: 0px -15px 40px -15px;
			p {
				margin: 0px 0px 20px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
	}
	@media (max-width:$md4+px){
		padding: 30px 0px;
		 &__text {
			 p {
				font-size: 12px;
			 }
		 } 
		 &__img {
			width: 213px;
			height: 200px;
		 }
	}
}


//====================================================================================================

.latest-works {
	margin: 95px 0px 65px 0px;
	// .latest-works__header

	&__header {}

	// .latest-works__tabs

	&__tabs {}

	// .latest-works__nav

	&__nav {
		@include flexbox();
		justify-content: center;
		font-family: 'Roboto Slab';
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		color: #555555;
		margin: 0px 0px 70px 0px;
	}

	// .latest-works__navitem

	&__navitem {
		margin: 0px 25px 0px 0px;
		cursor: pointer;
		&.active {
			color: #c0301c;
		}
	}

	// .latest-works__tab-items

	&__tab-items {

	}

	// .latest-works__tab-item

	&__tab-item {

	}

	@media (max-width:$md3+px){
		margin: 55px 0px 45px 0px; 
		&__nav {
			font-size: 14px;
			margin: 0px 0px 40px 0px;
		}
		&__navitem {
			margin: 0px 10px 0px 0px;
		}
	}
	@media (max-width:$md4+px){
		margin: 30px 0px 20px 0px;
		&__nav {
			font-size: 12px;
			margin: 0px 0px 20px 0px;
		}
	}
}


.tab-item-latest-works {


	// .tab-item-latest-works__row

	&__row {
		@include flexbox();
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// .tab-item-latest-works__body

	&__body {
		height: 320px;
		position: relative;
		width: calc(1/3*100% - (1 - 1/3)*30px);
		margin: 0 0 30px;
	}

	// .tab-item-latest-works__img

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	// .tab-item-latest-works__hover

	&__hover {}

	@media (max-width:$md1+px){
		&__body {
			height: 270px;
		} 
  }
  @media (max-width:$md2+px){
		&__body {
			height: 200px;
		} 
  }
  @media (max-width:$md3+px){
		&__body {
			width: calc(1/2*100% - (1 - 1/2)*10px);
			margin: 0 0 10px;
			height: 240px;
		} 
  }
  @media (max-width:$md4+px){
		&__body {
			height: 160px;
		}  
  }
}

.hover-tab-item-latest-works {
	opacity: 0;
	@include flexbox();
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(192, 48, 28, 0.7);
	@include anim(0.5s,0s);
	&:hover {
		opacity: 1;
	}

	// .hover-tab-item-latest-works__title

	&__title {
		font-family: Montserrat;
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		color: #ffffff;
		margin: 0px 0px 15px 0px;
	}

	// .hover-tab-item-latest-works__subtitle

	&__subtitle {
		font-family: 'Roboto Slab';
		font-size: 12px;
		line-height: 24px;
		font-weight: 400;
		color: #ffffff;
		margin: 0px 0px 20px 0px;
	}

	// .hover-tab-item-latest-works__button

	&__button {
		width: 100px;
		height: 38px;
		background-color: #ffffff;
		span {
			font-family: 'Roboto Slab';
			font-size: 14px;
			line-height: 33px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #c0301c;
			padding: 0px 40px 0px 20px;
			background: url('../../img/icons/latest-works/arrow.png') 70px 54% no-repeat;
		}
	}

	@media (max-width:$md3+px){
		&__title {
			font-size: 16px;
			margin: 0px 0px 5px 0px; 
		}
		&__subtitle {
			font-size: 10px;
			margin: 0px 0px 10px 0px;
		}
		&__button {
			width: 80px;
			height: 28px;
			span {
				font-size: 12px;
				line-height: 25px;
				padding: 0px 20px 0px 10px;
				background: url('../../img/icons/latest-works/arrow.png') 55px 54% no-repeat;
			}
		}
	}

}



//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
